---
import ExperienceArticle from "@/components/ExperienceArticle.astro";
---

<section id="experience">
  <h2>Experience and education</h2>

  <div class="container">
    <div class="experience--section">
      <ExperienceArticle
        institution="Hello Iconic"
        role="Frontend Software Engineer"
        endYear="Today"
        startYear="2023"
        bulletPoints={[
          "Developed and sent React and React Native applications for production deployments to the internet and to mobile app stores",
          "Integrated third-party APIs for enhanced functionality, such as payment gateways and authentication services expanding the product capabilities",
          "Collaborated with UX/UI designers to translate wireframes and mockups into interactive web applications",
        ]}
      />
      <ExperienceArticle
        institution="Hello Iconic"
        role="QA Software Engineer - Internship"
        endYear="2023"
        startYear="2022"
        bulletPoints={[
          "Conducted comprehensive testing of features and functionalities, granting approval for the successful deployment of multiple mobile application releases",
          "Developed automated end-to-end tests for a web application using Cypress, achieving a test coverage of 78.5% and ensuring robust quality assurance",
          "Established and managed a repository of 400+ test cases in TestRail, ensuring meticulous documentation and upholding stringent quality standards across applications",
        ]}
      />
    </div>
    <div class="experience--section">
      <ExperienceArticle
        institution="Universidad Catolica de Honduras"
        role="Computer Science Engineer"
        endYear="2018"
        startYear="2023"
        bulletPoints={[
          "Achieved Magna Cum Laude honors Bachelor's degree in Computer Science, reflecting dedication to academic excellence and proficiency in subject matter",
          "Led the creation of multiple projects, gaining practical skills and mastering modern technologies in the field",
        ]}
      />
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin-top: 2rem;
    justify-content: space-between;
    @media (max-width: 601px) {
      flex-direction: column;
      gap: 4rem;
    }
  }

  .experience--section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
</style>
