<footer class="footer">
  <p>Copyright @ 2024 | Bryan Martinez</p>
</footer>

<style>
  .footer {
    margin-top: 4rem;
    width: 100%;
    @media (max-width: 601px) {
      margin-bottom: 6rem;
    }
  }

  p {
    text-align: center;
  }
</style>
