<footer class="footer">
  <p>Copyright @ 2024 | Bryan Martinez</p>
</footer>

<style>
  .footer {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
