---
import { default as strings } from "@/locales/en.json";
---

<footer class="footer">
  <p>{strings.footer.title}</p>
</footer>

<style>
  .footer {
    margin-top: 4rem;
    width: 100%;
    @media (max-width: 601px) {
      margin-bottom: 6rem;
    }
  }

  p {
    text-align: center;
  }
</style>
