---
import image from "@/assets/images/profile-desktop.webp";
import imageIcon from "@/assets/images/profile-mobile.webp";
import { Image } from "astro:assets";
import Button from "@/components/Button.astro";
---

<section class="hero" id="about">
  <article class="hero--text">
    <div class="hero--title-container">
      <Image
        loading="eager"
        class:list={["hero--image", "hero--image-icon"]}
        src={imageIcon}
        alt="Profile picture of Bryan Martinez"
        width={100}
        height={100}
      />
      <h1>Hello! I'm Bryan, a frontend software engineer.</h1>
    </div>
    <div class="hero--description-container">
      <p>
        My passion lies in building applications that not only meet users' needs
        but exceed their expectations.
      </p>
      <p>
        I believe in starting with the 'why'—the driving force behind every line
        of code and design decision. For me, it's about more than just creating
        user-friendly and innovative applications; it's about crafting
        experiences that resonate deeply with users, keeping them coming back
        for more.
      </p>
      <p>
        By prioritizing clean code and continuous learning in UI/UX design, I
        ensure that every application I develop has a strong core—one that
        fosters success, satisfaction, and retention. Through my journey, I've
        cultivated a working style rooted in flexibility, attention to detail,
        and impeccable time management, allowing me to thrive in diverse team
        environments.
      </p>

      <p>
        Curious about how my development skills can benefit your company? Let's
        connect and explore the possibilities of working together!
      </p>
    </div>
    <div class="buttons--container">
      <Button
        text="Connect on LinkedIn"
        onPress="https://www.linkedin.com/in/thebryanmartinez/"
        type="primary"
      />
      <Button text="View resume" onPress="" type="secondary" />
    </div>
  </article>
  <div class="hero--image-container">
    <Image
      loading="eager"
      class="hero--image"
      src={image}
      alt="Profile picture of Bryan Martinez"
      width={400}
      height={480}
    />
  </div>
</section>

<style>
  .hero {
    width: "100%";
    display: flex;
    flex-direction: row;
    gap: 8rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .hero--description-container {
    display: grid;
    gap: 1rem;
  }

  .hero--text {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 2rem;
  }

  .hero--image {
    flex: 1;
    object-fit: cover;
    border-radius: 20px;
  }

  .buttons--container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .hero--image-container {
    display: flex;
    align-items: center;

    @media (max-width: 899px) {
      flex-direction: column;
      display: none;
    }
  }

  .hero--image-icon {
    border-radius: 100%;
    flex-basis: 0;

    @media (min-width: 900px) {
      display: none;
    }
  }
</style>
