---
import Project from "@/components/Project.astro";
import TodoListImage from "@/assets/images/todo-list-project.webp";
---

<section id="projects">
  <h2>Selected projects</h2>
  <h4>Here are some projects I’ve made</h4>

  <div class="container">
    <div class="projects--section">
      <Project
        title="Project name"
        image={TodoListImage}
        imageAlt="Image of project name"
        description="Lorem ipsum dolor sit amet consectetur. At magna viverra fringilla elementum malesuada neque praesent nunc. Velit felis neque sed sit adipiscing donec. Vitae viverra parturient habitasse suspendisse scelerisque fringilla mauris tristique tortor."
      />
    </div>

    <div class="projects--section">
      <Project
        title="Project name"
        imageAlt="Image of project name"
        description="Lorem ipsum dolor sit amet consectetur. At magna viverra fringilla elementum malesuada neque praesent nunc. Velit felis neque sed sit adipiscing donec. Vitae viverra parturient habitasse suspendisse scelerisque fringilla mauris tristique tortor."
      />
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin-top: 2rem;
    justify-content: space-between;

    @media (max-width: 601px) {
      flex-direction: column;
      gap: 4rem;
    }
  }
  .projects--section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
</style>
