---
import Project from "@/components/Project.astro";
import TodoListImage from "@/assets/images/todo-list-project.webp";
---

<section id="projects">
  <h2>Selected projects</h2>
  <h4>Here are some projects I’ve made</h4>

  <div class="container">
    <div class="projects--section">
      <Project
        title="Todify • Todo List"
        image={TodoListImage}
        imageAlt="Image of the Todo List project"
        description="Built a user-friendly todo list app using React and Tailwind CSS. Integrated IndexedDB for local storage, allowing users to create, mark as done, and delete tasks directly in their browsers. Simplifies task management with an intuitive interface for efficient organization."
        tags={[
          { text: "React", backgroundColor: "blue" },
          { text: "Tailwind CSS", backgroundColor: "pink" },
          { text: "IndexedDB", backgroundColor: "yellow" },
        ]}
        projectHref="https://thebryanmartinez.github.io/todo-list/"
      />
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin-top: 2rem;
    justify-content: space-between;

    @media (max-width: 601px) {
      flex-direction: column;
      gap: 4rem;
    }
  }
  .projects--section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
</style>
