---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/sections/Hero.astro";
import Navigation from "@/components/Navigation.astro";
import MobileNavigation from "@/components/MobileNavigation.astro";
import Experience from "@/components/sections/Experience.astro";
import Projects from "@/components/sections/Projects.astro";
import ContactMe from "@/components/sections/ContactMe.astro";
import Footer from "@/components/sections/Footer.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
---

<Layout title="Bryan Martinez">
  <main>
    <Navigation />
    <div class="sections">
      <HeroSection />
      <Experience />
      <Projects />
      <ContactMe />
    </div>
    <MobileNavigation />
    <Footer />
    <KeyboardManager />
  </main>
</Layout>

<style>
  .sections {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
</style>
