---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/sections/Hero.astro";
import Navigation from "@/components/Navigation.astro";
import MobileNavigation from "@/components/MobileNavigation.astro";
import Experience from "@/components/sections/Experience.astro";
import Projects from "@/components/sections/Projects.astro";
---

<Layout title="Bryan Martinez Portfolio">
  <main>
    <Navigation />
    <div class="sections">
      <HeroSection />
      <Experience />
      <Projects />
    </div>
    <MobileNavigation />
  </main>
</Layout>

<style>
  .sections {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
</style>
