---
import Layout from '@/layouts/Layout.astro';
import HeroSection from '@/components/HeroSection.astro';
import Navigation from '@/components/Navigation.astro';
import MobileNavigation from '@/components/MobileNavigation.astro'
---

<Layout title="Bryan Martinez Portfolio">
	<main>
		<Navigation/>		 
		<HeroSection />		
		<MobileNavigation />
	</main>
</Layout>

<style>

</style>
