---
import { Icon } from "astro-icon/components";
const {url, text, icon} = Astro.props

---

<a class="button" href={url}>
  <Icon name={icon}/>
  <p class="button-text">
    {text}
  </p>
</a>

<style>

[data-icon] {
  font-size: 1.5rem;
}

  .button {
    color: var(--heading);
    text-decoration: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  
</style>