---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
  text: string;
}

const { icon, text } = Astro.props;
---

<div class="icon--container">
  <Icon class="icon" name={icon} />
  <p class="icon--text">
    {text}
  </p>
</div>

<style>
  .icon--container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
  }

  [data-icon] {
    font-size: 1.5rem;
  }

  .icon--text {
  }
</style>
